<div class="relative min-h-screen md:flex w-full">
  <!-- left menu -->
  <app-menu class="md:w-1/4 max-w-[385px]"></app-menu>
  <div class="flex-col bg-blue-900 min-h-screen p-5 z-0 w-full">
    <!-- desktop header -->
    <app-header></app-header>
    <!-- page content -->

    <div>
      <div class="flex h-[80vh] justify-center items-center" #loaderElement>
          <app-elab-loader></app-elab-loader>
      </div>
      <div #contentElement>
        <ng-content></ng-content>
      </div>
    </div>

    <!-- footer for future ref -->
    <app-footer></app-footer>
  </div>
</div>
