<div class="md:pt-24 flex flex-col lg:flex-row align-bottom">
  <div class="inline-flex md:flex-row title-with-svg admin-title-with-svg w-1/2">
    <svg viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M30 13.1261C30 7.44745 25.3416 2.79279 19.6584 2.79279C18.7267 2.79279 17.8882 2.88589 17.0497 3.16517V1.3033H15.559V0H12.4845V1.21021H10.9938V13.3123H12.4845V14.8018H15.559V13.3123H17.0497V6.7027C17.8882 6.33033 18.7267 6.23724 19.6584 6.23724C23.4783 6.23724 26.646 9.30931 26.646 13.1261C26.646 15.4535 25.528 17.4084 23.8509 18.7117L22.6397 17.1291C22.1739 16.4775 21.2422 16.4775 20.7764 17.1291L18.8199 19.8288H4.56522C4.00621 19.8288 3.63354 20.2943 3.63354 20.7598C3.63354 21.2252 4.09938 21.6907 4.56522 21.6907H17.3292L13.323 27.1832H0V31H30V27.1832L25.8075 21.4114C28.323 19.5496 30 16.5706 30 13.1261Z" fill="url(#paint0_linear_4310_2999)"/>
      <defs>
        <linearGradient id="paint0_linear_4310_2999" x1="15" y1="0" x2="15" y2="31" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>
      Admin
    </h1>
  </div>
</div>

<div class="w-full flex flex-row admin-menu mb-12">
  <div>
    <a href="" [routerLink]="['/', adminPath.root, adminPath.proposals]" [routerLinkActive]="['is-active']">
      Manage Proposals
    </a>
  </div>
  <div>
    <a href="" [routerLink]="['/', adminPath.root, adminPath.users]" [routerLinkActive]="['is-active']">
      Manage Users
    </a>
  </div>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr class="font-bold text-pink-450">
      <th>DID</th>
      <th>Name</th>
      <th>Discord ID</th>
      <th>Status</th>
      <th *ngIf="currentUser.type === 'superadmin'" class="font-bold text-pink-450 p-3">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList" class="bg-blue-800 text-white">
    <td class="bg-blue-800">{{ user.did }}</td>
    <td class="bg-blue-800">{{ user.name }}</td>
    <td class="bg-blue-800">{{ user.discordId }}</td>
    <td class="bg-blue-800">{{ getUserStatus(user) }}</td>
    <td *ngIf="currentUser.type === 'superadmin'" class="bg-blue-800" >
      <button *ngIf="user.active" (click)="setInactive(user.did)" class="elab-button elab-button-red">Set inactive</button>
      <button *ngIf="!user.active" (click)="setActive(user.did)" class="elab-button elab-button-green">Set active</button>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="isLoading" class="flex items-center align-middle justify-center mt-5">>
  <div class="w-40 h-40 border-t-4 border-b-4 border-pink-450 rounded-full animate-spin"></div>
</div>
