<div class="md:pt-24 flex flex-col lg:flex-row align-bottom">
  <div class="inline-flex md:flex-row title-with-svg w-1/2">
    <svg viewBox="0 0 32 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M31.834 27H7.83398L8.66877 25.7459L17.5731 12.8361V3.02459H15.2775V0H24.3905V3.02459H22.0949V12.8361L28.9122 22.7213L31.834 27Z" fill="url(#paint0_linear_3809_1476)"/>
      <path d="M24.3335 27H0.333496L1.16828 25.7459L10.0726 12.8361V3.02459H7.77697V0H16.89V3.02459H14.5944V12.8361L21.4118 22.7213L24.3335 27Z" fill="url(#paint1_linear_3809_1476)" fill-opacity="0.4"/>
      <defs>
        <linearGradient id="paint0_linear_3809_1476" x1="19.834" y1="0" x2="19.834" y2="27" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint1_linear_3809_1476" x1="12.3335" y1="0" x2="12.3335" y2="27" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>
      My Profile
    </h1>
  </div>
</div>

<div class="grid grid-cols-[15%_85%] gap-4 rounded-lg bg-blue-800 p-8 sm:p-16 mt-9">
  <div class="text-pink-450 font-bold">DID</div>
  <div class="break-all">{{ currentUser.did }}</div>

  <div class="text-pink-450 font-bold">Name</div>
  <div class="break-all">{{ currentUser.name | titlecase }}</div>

  <div class="text-pink-450 font-bold">Email</div>
  <div class="break-all">{{ currentUser.name }}</div>

  <div class="text-pink-450 font-bold">Type</div>
  <div class="font-bold break-all">{{ currentUser.type | titlecase }}</div>

  <div class="text-pink-450 font-bold">Wallets</div>
  <div class="break-words max-w-[600px]">
    <p> Bind one or more wallet addresses here to open more interesting features </p>
  </div>
</div>
