<div class="md:pt-24 flex flex-col lg:flex-row">
  <!-- TITLE -->
  <div class="inline-flex md:flex-row title-with-svg w-1/2">
    <svg viewBox="0 0 32 27" fill="none" xmlns="http://www.w3.org/2000/svg" class="mt-0">
      <path d="M31.834 27H7.83398L8.66877 25.7459L17.5731 12.8361V3.02459H15.2775V0H24.3905V3.02459H22.0949V12.8361L28.9122 22.7213L31.834 27Z" fill="url(#paint0_linear_3809_1476)"/>
      <path d="M24.3335 27H0.333496L1.16828 25.7459L10.0726 12.8361V3.02459H7.77697V0H16.89V3.02459H14.5944V12.8361L21.4118 22.7213L24.3335 27Z" fill="url(#paint1_linear_3809_1476)" fill-opacity="0.4"/>
      <defs>
        <linearGradient id="paint0_linear_3809_1476" x1="19.834" y1="0" x2="19.834" y2="27" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint1_linear_3809_1476" x1="12.3335" y1="0" x2="12.3335" y2="27" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>
      Community Proposals
    </h1>
  </div>

  <!-- ACTIVATE / CURRENT VOTING PERIOD -->
  <div class="flex flex-col justify-end md:ml-0.5 lg:ml-2 xl:ml-3">

    <!-- ACCOUNT CHECK / ACTIVATE ACCOUNT -->
    <div class="flex flex-col md:flex-row align-middle items-center justify-center min-h-min text-sm md:text-base">
      <div *ngIf="!currentUser.isActive" class="flex flex-col align-middle items-center justify-center font-bold
      md:mr-10 text-center">
        <p class="text-red">
          <span>Your account is not active.</span>&nbsp;
          <span class="lg:block xl:inline">You need to activate to vote.</span>
        </p>

        <!-- Desktop - Voting period -->
        <span *ngIf="currentVotingPeriod && currentVotingPeriod.isTodayInVotingPeriod"
              class="hidden md:block text-green-elabLight">Current voting period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
        <span *ngIf="currentVotingPeriod && !currentVotingPeriod.isTodayInVotingPeriod"
              class="hidden md:block text-gray-400">Next voting period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
      </div>
      <button *ngIf="!currentUser.isActive"
              class="h-9 w-1/3 mt-3 md:w-auto md:mt-0 elab-button elab-button-green" type="button" (click)="showActivateAccount()">
        Activate
      </button>

      <!-- Mobile - Voting period -->
      <span *ngIf="!currentUser.isActive && currentVotingPeriod && currentVotingPeriod.isTodayInVotingPeriod"
            class="block mt-3 md:hidden text-green-elabLight">Current voting period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
      <span *ngIf="!currentUser.isActive && currentVotingPeriod && !currentVotingPeriod.isTodayInVotingPeriod"
            class="block mt-3 md:hidden text-gray-400">Next voting period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
    </div>

    <!-- CURRENT VOTE PERIOD -->
    <div *ngIf="currentUser.isActive && currentVotingPeriod && currentVotingPeriod.startDate && currentVotingPeriod.endDate"
         class="md:ml-10 justify-center flex flex-row align-bottom items-center h-100 text-gray-400 text-[16px]">
      <span *ngIf="currentVotingPeriod && currentVotingPeriod.isTodayInVotingPeriod" class="text-green-elabLight">Current voting period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
      <span *ngIf="currentVotingPeriod && !currentVotingPeriod.isTodayInVotingPeriod">Next voting period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
    </div>

  </div>
</div>

<div class="flex-row md:flex-col" *ngIf="pageSize && pageNum" >
  <div *ngIf="isLoading" class="flex items-center align-middle justify-center mt-10 min-h-[350px]">
    <div class="elab-spin-loader"></div>
  </div>

  <div *ngIf="!isLoading && (!totalProposals || totalProposals === 0)" class="flex h-32 items-center justify-center">
    <h2 class="text-pink-300">No proposals yet</h2>
  </div>

  <ng-container *ngIf="!isLoading">
    <div *ngFor="let proposal of proposals; let first = first; let last = last; let indexOfElement = index">
      <div [ngClass]="{
          'opacity-90': proposal.votedByUser,
          'opacity-70': (proposal.grant === GrantStatus.NOT_GRANTED || proposal.status === ProposalStatus.REJECTED) && proposal.votedByUser,
          'opacity-50': proposal.grant === GrantStatus.NOT_GRANTED || proposal.status === ProposalStatus.REJECTED
          }"
           class="flex flex-row h-auto
          md:flex-row md:h-96 lg:h-72 xl:h-52
          md:rounded-xl md:bg-blue-900 md:bg-gradient-to-r from-blue-800 to-blue-900 md:mt-10 mt-6
          overflow-hidden
          md:p-3">

        <div class="my-auto pr-4 md:my-0 md:pr-2 lg:pr-6 lg:pl-4 pt-0.5">#{{ pageSize * (pageNum - 1) + (indexOfElement + 1) }}</div>

        <!-- FIRST COLUMN -->
        <div class="flex flex-col w-full p-3 rounded-xl bg-gradient-to-br from-blue-800 to-blue-900
          md:rounded-none md:p-0 md:pr-1 md:bg-none md:w-1/2">
          <!-- First column - Title - Status - Description -->

          <div class="break-words" style="word-break: break-word;">
            <div class="md:inline mr-2 font-bold md:text-xl">{{proposal.title}}</div>
            <ng-container [ngTemplateOutlet]="status" [ngTemplateOutletContext]="{ proposal: proposal }"></ng-container>
            <div class="mt-2 md:pr-2 text-sm md:text-base">{{proposal.description}}</div>
          </div>

          <!-- MOBILE - Link -->
          <div class="md:hidden mt-6 text-green-elab break-all">
            <a [href]="proposal.link" target="_blank" class="text-sm">{{ proposal.link }}</a>
          </div>

          <!-- MOBILE - Budget -->
          <div class="mt-6 md:mt-4 md:hidden text-sm">
            <span class="md:opacity-100 md:text-pink-elab font-bold">Suggested Budget</span>
            <span class="md:opacity-50 block break-all pr-2">{{ proposal.budget |  number: '.1'}} ELA</span>
          </div>

          <!-- DESKTOP - Proposer -->
          <div class="hidden md:block md:mt-auto">
            <div class="mt-4">
              <span class="opacity-50 md:opacity-100 md:text-pink-elab font-bold">Proposer</span>
              <span class="opacity-50 md:opacity-50 block break-all pr-2">{{ proposal.creator }}</span>
            </div>
          </div>

          <!-- MOBILE - Proposer / Created -->
          <div class="md:hidden flex flex-row text-sm mt-6">
            <div class="flex-col" [ngClass]="{'w-4/5': isActiveAndHasNotBeenVotedByUser(proposal)}">
              <div class="md:mt-auto">
                <span class="opacity-50 md:opacity-100 md:text-pink-elab font-bold">Proposer</span>
                <span class="opacity-50 md:opacity-100 block break-all pr-2">{{ proposal.creator }}</span>
              </div>
              <div class="mt-6 md:mt-auto md:hidden ">
                <span class="opacity-50 font-bold">Created</span>
                <span class="opacity-50 block">{{ proposal.createdAt | dateAgo }}</span>
              </div>
            </div>

            <!-- Mobile - Community proposal - Voting buttons -->
            <div class="w-[200px] mt-auto" *ngIf="isActiveAndHasNotBeenVotedByUser(proposal)">
              <div class="flex flex-col space-y-4 justify-end">
                <div class="flex flex-row">
                  <span class="text-green-elab font-bold justify-between my-auto ml-4 mr-2">{{ proposal.votesFor }}</span>
                  <button class="text-sm elab-button elab-button-green h-9 w-full px-2" (click)="onClickVoteFor(proposal.id)">Up Vote</button>
                </div>

                <div class="flex flex-row">
                  <span class="text-red-elab font-bold justify-between my-auto ml-4 mr-2">{{ proposal.votesAgainst }}</span>
                  <button class="text-sm elab-button elab-button-red h-9 w-full px-2" (click)="onClickVoteAgainst(proposal.id)">Down Vote</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Mobile - Vote result -->
          <div *ngIf="proposal.status === ProposalStatus.APPROVED &&
          proposal.votingStatus !== VotingStatus.NOT_STARTED && proposal.votedByUser"
               class="flex flex-row mt-4 text-sm md:hidden justify-between">
            <span class="block text-green-elab"><span class="font-bold">{{ proposal.votesFor }}</span>
            Vote<span *ngIf="proposal.votesFor > 1">s</span> Up
            </span>
              <span [ngClass]="{'text-green-elab': proposal.score > 0, 'text-white': proposal.score === 0, 'text-red-elab': proposal.score < 0 }" class="block font-bold text-2xl">{{ proposal.score }}</span>
              <span class="block text-red-elab"><span class="font-bold">{{ proposal.votesAgainst }}</span>
            Vote<span *ngIf="proposal.votesAgainst > 1">s</span> Down
            </span>
          </div>

          <div class="flex flex-row mt-4 text-sm md:hidden" *ngIf="isActiveAndHasBeenVotedByUser(proposal)">
            <button class="text-sm elab-button elab-button-red h-9 w-full px-2" (click)="onClickVoteCancel(proposal.id)">Cancel my vote</button>
          </div>

          <!-- MOBILE - STATUS -->
          <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.NOT_STARTED"
               class="md:hidden flex mt-4 text-[14px]">
            <span class="align-middle my-auto block font-bold text-pink-450">Vote starting on {{ proposal.votingPeriodStartDate | date:'MMM d' }} </span>
          </div>
          <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.ENDED"
               class="md:hidden flex flex-col mt-4 text-[14px]">
            <span class="align-middle my-auto block font-bold text-pink-450">Vote ended on {{ proposal.votingPeriodEndDate | date:'MMM d' }} </span>

            <div class="text-green-elabLight mt-2 self-end"
                 *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" >
              AWAITING ADMIN GRANT DECISION
            </div>
          </div>

        </div>

        <!-- DESKTOP - Second column Link/Created at -->
        <div class="hidden md:flex flex-col w-1/5 pr-2 content-between justify-between">
          <div class="font-bold">
              <span class="text-pink-450 hidden 2xl:inline">
                Suggested Budget:
              </span>
              <span class="text-pink-450 inline 2xl:hidden">
                Budget:
              </span>
              <span class="font-bold inline-block">
                {{ proposal.budget |  number: '.1'}} ELA
              </span>
          </div>

          <div>
            <span class="text-pink-450 font-bold">Link</span>
            <span class="block break-all hover:text-pink-elab duration-300 text-green-elabLight">
            <a href="{{ proposal.link }}" target="_blank">
            <span class="hidden 2xl:inline">
              {{ proposal.link }}
            </span>

            <span class="inline 2xl:hidden">
              Click here
            </span>
            </a>
            </span>
          </div>

          <div>
            <span class="text-pink-450 justify-end mt-auto font-bold">Created on</span>
            <span class="block opacity-50">{{proposal.createdAt | dateAgo}}</span>
          </div>
        </div>

        <!-- Desktop - Vote results -->
        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.ACTIVE"
             class="hidden md:flex md:flex-row md:ml-auto mr-0 lg:mr-5 px-3 lg:px-0 min-w-fit">
          <div class="align-middle my-auto opacity-100 ">
            <div class="block text-pink-elab font-bold text-center">
              <span class="md:hidden 2xl:inline">Vote</span> Score
              <span [ngClass]="{'text-green-elab': proposal.score > 0, 'text-white': proposal.score === 0, 'text-red-elab': proposal.score < 0 }" class="block text-2xl">{{ proposal.score }}</span>
            </div>
            <div class="justify-start mt-2">
              <span class="block text-green-elab"><span class="font-bold">{{ proposal.votesFor }}</span>
              <span class="md:hidden 2xl:inline">&nbsp;Votes</span> Up
              </span>
                  <span class="block text-red-elab"><span class="font-bold">{{ proposal.votesAgainst }}</span>
              <span class="md:hidden 2xl:inline">&nbsp;Votes</span> Down
              </span>
            </div>

            <div class="justify-center mt-2" *ngIf="isActiveAndHasBeenVotedByUser(proposal)">
              <button class="text-sm elab-button elab-button-red h-9 px-2" (click)="onClickVoteCancel(proposal.id)">Cancel vote</button>
            </div>
          </div>

          <!-- Community proposal - Voting buttons -->
          <div *ngIf="currentUser.isActive && !proposal.votedByUser" class="flex flex-col space-y-2 pl-3 lg:pl-12 justify-center">
            <button class="elab-button elab-button-green h-9 px-2" (click)="onClickVoteFor(proposal.id)">Up Vote</button>
            <button class="elab-button elab-button-red h-9 px-2" (click)="onClickVoteAgainst(proposal.id)">Down Vote</button>
          </div>

        </div>

        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.NOT_STARTED"
             class="hidden md:flex md:flex-row md:ml-auto md:mr-0 lg:mr-5">
          <span class="align-middle my-auto block font-bold text-pink-450">Vote starting on {{ proposal.votingPeriodStartDate | date:'MMM d' }} </span>
        </div>

        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.ENDED"
             class="hidden md:flex md:flex-col md:ml-auto
          md:mr-5 min-h-max justify-between">
          <div></div>
          <div>
            <span class="block font-bold text-pink-450">Voting Score: ended on {{ proposal.votingPeriodEndDate | date:'MMM d' }} </span>
            <span [ngClass]="{'text-green-elab': proposal.score > 0, 'text-white': proposal.score === 0, 'text-red-elab': proposal.score < 0 }" class="block text-2xl">{{ proposal.score }}</span>
            <div class="mt-2">
              <span class="block text-green-elab">{{ proposal.votesFor }} Votes up</span>
              <span class="block text-red-elab">{{ proposal.votesAgainst }} Votes down</span>
            </div>
          </div>

          <div class="text-green font-bold self-end"
               *ngIf="proposal.grant === GrantStatus.GRANTED" >
            GRANTED
          </div>
          <div class="text-red-elab font-bold self-end"
               *ngIf="proposal.grant === GrantStatus.NOT_GRANTED" >
            NOT GRANTED
          </div>
          <div class="text-green-elabLight self-end"
               *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" >
            AWAITING ADMIN GRANT DECISION
          </div>

        </div>

        <!-- END VOTING DESKTOP -->
      </div>

    </div>
  </ng-container>

  <div *ngIf="!isLoading && totalProposals" class="flex flex-row text-gray-400 py-5 lg:py-10 lg:pl-24 text-sm md:text-base">
    <div *ngIf="totalProposals">
      Active <span class="hidden xl:inline">proposals</span>: {{totalActiveProposals}} / {{ totalProposals }}
    </div>
    <div class="ml-auto inline-flex">
      Row<span class="inline xl:hidden">s</span><span class="hidden xl:inline">&nbsp;per page</span>: 10
    </div>
    <div class="ml-auto md:ml-24 md:w-32">
      <p *ngIf="pageSize && pageNum && totalProposals">
        {{ pageSize * (pageNum - 1) + 1 }} - {{pageSize * pageNum}} OF {{ totalProposals }}
      </p>
    </div>
    <div class="md:ml-16 inline-flex">
      <button type="button" [ngClass]="{'cursor-not-allowed': !canDoPreviousPage()}" [attr.disabled]="!canDoPreviousPage() ? 'disabled' : null" (click)="decrementCurrentPage()">
        <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'opacity-50': !canDoPreviousPage()}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <button type="button" [ngClass]="{'cursor-not-allowed': !canDoNextPage()}" [attr.disabled]="!canDoNextPage() ? 'disabled' : null" (click)="incrementCurrentPage()">
        <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'opacity-50': !canDoNextPage()}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"  />
        </svg>
      </button>
    </div>
  </div>
</div>

<ng-template #status let-proposal="proposal">
  <span class="opacity-50 text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_APPROVED">
    AWAITING APPROVAL
  </span>

  <span class="text-grey text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_STARTED">
    NOT STARTED
  </span>

  <span class="font-bold text-red text-[12px]" *ngIf="proposal.status === ProposalStatus.REJECTED">
    REJECTED
  </span>

  <span class="text-green-500 text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && !proposal.votedByUser">
    VOTE ACTIVE
  </span>

  <span [ngClass]="{'text-green-500': proposal.userVote === 'for', 'text-red-500': proposal.userVote === 'against'}"
        *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && proposal.votedByUser"
        class="font-bold text-[12px]">
    ALREADY VOTED {{ proposal.userVote.toUpperCase() }}
  </span>

  <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" class="text-green-500 font-bold text-[12px]" >
    VOTE ENDED
  </span>

  <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.GRANTED" class="text-green-500 font-bold md:inline-block uppercase text-[12px]">
    GRANTED
  </span>

  <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.NOT_GRANTED" class="text-red-500 font-bold md:inline-block uppercase text-[12px]">
    NOT GRANTED
  </span>
</ng-template>
