<app-modal #modalComponent>
  <h4 class="font-bold text-transparent bg-clip-text bg-gradient-to-r
  from-pink-450 to-orange-450 min-w-[300px] inline-flex">
    New proposal
  </h4>
  <form [formGroup]="proposalForm" (ngSubmit)="createRecord()">
    <label
      for="title"
      class="block mt-2 font-bold text-pink-450"
    >
      Title
    </label>
    <input
      id="title"
      type="text"
      name="title"
      formControlName="title"
      class="block w-full p-2 mt-2 text-white bg-blue-800 text-sm
      appearance-none focus:outline-none focus:bg-blue-900 focus:border-pink-450 rounded-full focus:shadow-inner"
      required
    />

    <label
      for="link"
      class="block mt-2 font-bold text-pink-450"
    >CR Link</label>
    <input
      id="link"
      type="text"
      name="link"
      formControlName="link"
      class="block w-full p-2 mt-2 text-white bg-blue-800 text-sm
      appearance-none focus:outline-none focus:bg-blue-900 rounded-full"
      required
    />


    <label
      for="description"
      class="block mt-2 font-bold text-pink-450"
    >Short Description </label
    >
    <textarea
      id="description"
      name="description"
      formControlName="description"
      class="block w-full p-2 mt-2 text-white bg-blue-800 text-sm
      appearance-none focus:outline-none focus:bg-blue-900 rounded-xl focus:shadow-inner
      h-20
resize-none	"
      required></textarea>

    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </form>
</app-modal>

<ng-template #toolbar>
  <div class="flex mt-10">
    <button
      (click)="close()"
      type="button"
      class="bg-transparent text-orange-450 pl-0 hover:text-pink-450 focus:outline-none text-sm
     transition ease-in-out delay-50 hover:scale-110 duration-200
"
    >
      Cancel
    </button>

    <button
      [ngClass]="{'cursor-not-allowed': loading || proposalForm.invalid , 'transition ease-in-out delay-50 hover:scale-110 duration-200 hover:bg-green-elab hover:text-white' : !loading && proposalForm.valid}" [attr.disabled]="loading || proposalForm.invalid ? 'disabled' : null"
      type="submit"
      class="bg-green-100 ml-10 font-bold text-sm text-green rounded-full px-4 py-1

"
    >
      <div class="flex flex-row">
      <svg *ngIf="loading === true" class="animate-spin -ml-1 mr-3 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-95" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
        <p *ngIf="loading === false">Create</p>
        <p *ngIf="loading === true">Creating</p>
      </div>
    </button>

    <div *ngIf="message !== ''">
      {{message}}
    </div>
  </div>
</ng-template>
