<app-modal #modalComponent>
  <div class="w-full justify-center items-center text-center">
    <h4
      class="block font-bold text-transparent
      bg-clip-text bg-gradient-to-r from-pink-450 to-orange-450 min-w-fit justify-center">
      Confirm your vote
    </h4>
  </div>
  <div *ngIf="!proposal || !proposal.title" class="flex items-center align-middle justify-center mt-5 min-h-[150px]">
    <div class="elab-spin-loader"></div>
  </div>
  <div *ngIf="proposal && proposal.title">
    <p>Please confirm that you want to vote <span [ngClass]="{'text-green': vote === 'for', 'text-red-500': vote === 'against'}">{{ vote | uppercase }}</span>
      the following proposal:<p>
    <div class="grid grid-cols-2 grid-cols grid-cols-[20%_80%] space-y-1 mt-2">
      <span class="bg-blue-800 text-pink-450 font-bold px-2">Title</span>
      <span class="bg-blue-800 break-word" >{{ proposal.title }}</span>
      <span class="bg-blue-800 text-pink-450 font-bold px-2">Link</span>
      <span class="bg-blue-800 break-all"><a [href]="proposal.link" target="_blank" class="text-green-elabLight duration-200 hover:text-pink-elab">Click here to open the proposal</a></span>
    </div>
    <p class="mt-4 text-sm">*Votes are not cancellable.</p>
  </div>
  <div class="flex flex-row space-x-4 mt-10 min-h-[32px]">

    <button (click)="close()" type="button" class="elab-button-transparent text-sm hover:pb-0.5">Cancel</button>

    <button
      (click)="confirmVote()"
      [attr.disabled]="loading ? 'disabled' : null"
      [@slideInFromBottom]="{ value: '', params: { delay: 250 + 'ms' } }"
      *ngIf="proposal && proposal.title"
      [ngClass]="{
      'elab-button-loading': loading,
      'elab-button text-sm px-4 hover:pb-0.5': !loading,
      'elab-button-green': !loading && vote === 'for',
      'elab-button-red': !loading && vote === 'against' }"
      type="submit"
      class="flex flex-row justify-center items-center">
      <svg *ngIf="loading"
           class="animate-spin h-5 w-5 text-green-elabLight"
           xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-95" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <p *ngIf="!loading">Vote</p>
    </button>

  </div>
</app-modal>
