<div class="md:pt-24 flex flex-col lg:flex-row">
  <!-- TITLE -->
  <div class="inline-flex md:flex-row title-with-svg admin-title-with-svg w-1/2">
    <svg viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M30 13.1261C30 7.44745 25.3416 2.79279 19.6584 2.79279C18.7267 2.79279 17.8882 2.88589 17.0497 3.16517V1.3033H15.559V0H12.4845V1.21021H10.9938V13.3123H12.4845V14.8018H15.559V13.3123H17.0497V6.7027C17.8882 6.33033 18.7267 6.23724 19.6584 6.23724C23.4783 6.23724 26.646 9.30931 26.646 13.1261C26.646 15.4535 25.528 17.4084 23.8509 18.7117L22.6397 17.1291C22.1739 16.4775 21.2422 16.4775 20.7764 17.1291L18.8199 19.8288H4.56522C4.00621 19.8288 3.63354 20.2943 3.63354 20.7598C3.63354 21.2252 4.09938 21.6907 4.56522 21.6907H17.3292L13.323 27.1832H0V31H30V27.1832L25.8075 21.4114C28.323 19.5496 30 16.5706 30 13.1261Z" fill="url(#paint0_linear_4310_2999)"/>
      <defs>
        <linearGradient id="paint0_linear_4310_2999" x1="15" y1="0" x2="15" y2="31" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>
      Admin
    </h1>
  </div>
</div>

<div class="w-full flex flex-row admin-menu">
  <div>
    <a href="" [routerLink]="['/', adminPath.root, adminPath.proposals]" [routerLinkActive]="['is-active']">
      Manage Proposals
    </a>
  </div>
  <div>
    <a href="" [routerLink]="['/', adminPath.root, adminPath.users]" [routerLinkActive]="['is-active']">
      Manage Users
    </a>
  </div>
</div>
<!-- ACTIVATE / CURRENT VOTING PERIOD -->
<div class="flex flex-col justify-end md:ml-0.5 lg:ml-2 xl:ml-3">

  <!-- ACCOUNT CHECK / ACTIVATE ACCOUNT -->
  <div class="flex flex-col md:flex-row align-middle items-center justify-center min-h-min text-sm md:text-base">
    <!-- Mobile - Voting period -->
    <span *ngIf="currentVotingPeriod && currentVotingPeriod.isTodayInVotingPeriod"
          class="block mt-3 md:hidden text-green-elabLight">Current vote period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>

    <span *ngIf="currentVotingPeriod && !currentVotingPeriod.isTodayInVotingPeriod"
          class="block mt-3 md:hidden text-gray-400">Next vote period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
  </div>

  <!-- CURRENT VOTE PERIOD -->
  <div *ngIf="currentVotingPeriod && currentVotingPeriod.startDate && currentVotingPeriod.endDate"
       class="hidden justify-center md:flex md:flex-row align-bottom items-center h-100 text-gray-400 text-[16px]">
    <span *ngIf="currentVotingPeriod && currentVotingPeriod.isTodayInVotingPeriod" class="text-green-elabLight">Current vote period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
    <span *ngIf="currentVotingPeriod && !currentVotingPeriod.isTodayInVotingPeriod">Next vote period: {{ currentVotingPeriod.startDate | date : 'd MMM' }} - {{ currentVotingPeriod.endDate | date : 'd MMM' }}</span>
  </div>
  <div
    *ngIf="currentUser.type === 'superadmin'"
    class="justify-center flex flex-col md:flex-row align-bottom items-center h-100 text-gray-400 text-[16px] space-x-0 space-y-3 md:space-x-3 md:space-y-0 mt-3">
    <button class="elab-button elab-button-beige hover:scale-100 border-2 w-1/3 justify-center items-center"
            (click)="openChangeVotingPeriodModal()"
            type="submit">
      Change voting period
    </button>

  </div>

</div>

<div class="flex-row md:flex-col" *ngIf="pageSize && pageNum" >
  <div *ngIf="isLoading" class="flex items-center align-middle justify-center mt-5 min-h-[350px]">
    <div class="elab-spin-loader"></div>
  </div>

  <div *ngIf="!isLoading && !totalProposals" class="flex items-center align-middle justify-center mt-5">
    <h2 class="text-pink-300">No proposals yet</h2>
  </div>

  <div *ngFor="let proposal of proposals; let first = first; let last = last; let indexOfElement = index">
    <div [ngClass]="{
    'opacity-50': proposal.grant.toLowerCase() === 'notgranted' || proposal.status === ProposalStatus.REJECTED,
    'opacity-90': proposal.votedByUser && proposal.grant.toLowerCase() !== 'notgranted'}"
         class="flex flex-row h-auto
         md:flex-row md:h-96 lg:h-72 xl:h-52
         md:rounded-xl md:bg-blue-800 md:bg-gradient-to-r from-blue-800 to-blue-900 md:mt-10 mt-6
         md:p-3">

      <div class="my-auto pr-4 md:my-0 md:pr-2 lg:pr-6 lg:pl-4 pt-0.5">#{{ pageSize * (pageNum - 1) + (indexOfElement + 1) }}</div>

      <!-- FIRST COLUMN -->
      <div class="flex flex-col w-full p-3 rounded-xl bg-gradient-to-br from-blue-800 to-blue-900
      md:rounded-none md:p-0 md:pr-1 md:bg-none md:w-1/2">
        <!-- First column - Title - Status - Description -->

        <div class="break-words" style="word-break: break-word;">
          <div class="md:inline mr-2 font-bold md:text-xl">{{proposal.title}}</div>
          <ng-container [ngTemplateOutlet]="status" [ngTemplateOutletContext]="{ proposal: proposal }"></ng-container>
          <div class="mt-2 md:pr-2 text-sm md:text-base">{{proposal.description}}</div>
        </div>


        <!-- MOBILE - Link -->
        <div class="md:hidden mt-6 text-green-elab break-all">
          <a [href]="proposal.link" target="_blank" class="text-sm">{{ proposal.link }}</a>
        </div>

        <!-- MOBILE - Budget -->
        <div class="mt-6 md:mt-4 md:hidden text-sm">
          <span class="text-pink-elab font-bold">Suggested Budget</span>
          <span class="block break-all pr-2">{{ proposal.budget |  number: '.1'}} ELA</span>
        </div>

        <!-- MOBILE - Proposer -->
        <div class="mt-6 md:mt-auto md:hidden">
          <span class="text-pink-elab font-bold text md:text-base">Proposer</span>
          <span class="block break-all pr-2 text-sm md:text-base">{{ proposal.creator }}</span>
        </div>

        <!-- DESKTOP - Proposer -->
        <div class="hidden md:block md:mt-auto">
          <div class="mt-4">
            <span class="text-pink-elab font-bold">Proposer</span>
            <span class="opacity-50 block break-all pr-2">{{ proposal.creator }}</span>
          </div>
        </div>

        <!-- MOBILE - Proposer / Created -->
        <div class="md:hidden flex flex-row text-sm mt-6">
          <!-- Mobile - Community proposal - Voting buttons -->
          <div class="flex space-x-2 w-4/5 my-auto pr-5">
            <button *ngIf="currentUser.type === 'superadmin' && proposal.status === ProposalStatus.NEW && proposal.grant === GrantStatus.UNDECIDED"
                    class="elab-button elab-button-green w-full h-9" (click)="onClickApproveNow(proposal.id)">Accept NOW</button>
            <button *ngIf="proposal.status === ProposalStatus.NEW && proposal.grant === GrantStatus.UNDECIDED"
                    class="elab-button elab-button-green w-full h-9" (click)="onClickApprove(proposal.id)">Accept</button>
            <button *ngIf="proposal.status === ProposalStatus.NEW && proposal.grant === GrantStatus.UNDECIDED"
                    class="elab-button elab-button-red w-full h-9" (click)="onClickReject(proposal.id)">Reject</button>

            <button *ngIf="(proposal.status !== ProposalStatus.NEW && proposal.votingStatus === VotingStatus.NOT_STARTED)
          || (proposal.status !== ProposalStatus.NEW && currentUser.type ==='superadmin')"
              (click)="onClickCancelDecision(proposal.id)"
                    class="elab-button elab-button-beige w-full h-9" >
              Cancel decision
            </button>

            <button (click)="onClickCancelGrant(proposal.id)"
                    *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant !== GrantStatus.UNDECIDED"
                    class="elab-button elab-button-beige w-full h-9">Cancel grant</button>
            <button (click)="onClickGrant(proposal.id)"
                    *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED"
                    class="elab-button elab-button-green w-full h-9">Grant</button>
            <button (click)="onClickDontGrant(proposal.id)"
                    *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED"
                    class="elab-button elab-button-red w-full h-9">Don't grant</button>
          </div>

          <div class="flex-col">
            <span class="font-bold text-pink-elab">Created</span>
            <span class="block">{{ proposal.createdAt | dateAgo }}</span>
          </div>

        </div>

        <!-- Mobile - Vote result -->
        <div *ngIf="proposal.status === ProposalStatus.APPROVED &&
        proposal.votingStatus !== VotingStatus.NOT_STARTED && proposal.votedByUser"
             class="flex flex-row mt-4 text-sm md:hidden">
          <span class="block text-green-elab"><span class="font-bold">{{ proposal.votesFor }}</span>
            Vote<span *ngIf="proposal.votesFor > 1">s</span> Up
          </span>
          <span class="block text-red-elab ml-auto"><span class="font-bold">{{ proposal.votesAgainst }}</span>
            Vote<span *ngIf="proposal.votesAgainst > 1">s</span> Down
          </span>
        </div>

        <!-- MOBILE - STATUS -->
        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.NOT_STARTED"
             class="md:hidden flex mt-4 text-[14px]">
          <span class="align-middle my-auto block font-bold text-pink-450">Vote starting on {{ proposal.votingPeriodStartDate | date:'MMM d' }} </span>
        </div>

      </div>

      <!-- DESKTOP - Second column Link/Created at -->

      <div class="hidden md:flex flex-col w-1/5 pr-2 content-between justify-between">
        <div class="font-bold">
              <span class="text-pink-450 hidden 2xl:inline">
                Suggested Budget:
              </span>
          <span class="text-pink-450 inline 2xl:hidden">
                Budget:
            </span>
          <span class="font-bold inline-block">
                {{ proposal.budget |  number: '.1'}} ELA
              </span>
        </div>
        <div>
          <span class="text-pink-450 font-bold">Link</span>
          <span class="block break-all text-green-elabLight">
            <a href="{{ proposal.link }}" target="_blank" class="duration-300 hover:text-pink-elab">
              <span class="hidden 2xl:inline">
                {{ proposal.link }}
              </span>

              <span class="inline 2xl:hidden">
                Click here
              </span>
            </a>
          </span>
        </div>

        <div>
          <span class="text-pink-450 justify-end mt-auto font-bold">Created on</span>
          <span class="block opacity-50">{{proposal.createdAt | dateAgo}}</span>
        </div>
      </div>

      <!-- Desktop - 3rd column vote results -->
      <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.ACTIVE"
           class="hidden md:flex md:flex-row md:ml-auto mr-0 lg:mr-5 px-3 lg:px-0">
        <div class="align-middle my-auto opacity-100 min-w-fit ">
          <span class="block text-pink-elab font-bold">
            <span class="md:hidden 2xl:inline">Vote</span> Result
          </span>
          <div class="justify-start mt-2 -ml-[5px]">
            <span class="block text-green-elab"><span class="font-bold">{{ proposal.votesFor }}</span>
              <span class="md:hidden 2xl:inline">&nbsp;Votes</span> Up
            </span>
            <span class="block text-red-elab"><span class="font-bold">{{ proposal.votesAgainst }}</span>
              <span class="md:hidden 2xl:inline">&nbsp;Votes</span> Down
            </span>
          </div>
        </div>

      </div>

      <!-- Desktop - Approval action -->
      <div
        *ngIf="proposal.status === ProposalStatus.NEW
        || proposal.votingStatus === VotingStatus.NOT_STARTED
        || currentUser.type === 'superadmin'"
           class="hidden md:flex md:flex-row md:ml-auto mr-0 lg:mr-5 px-3 lg:px-0">
        <div *ngIf="proposal.status === ProposalStatus.NEW && proposal.grant === GrantStatus.UNDECIDED" class="align-middle my-auto opacity-100 md:min-w-[60px] ">
          <span class="block text-pink-elab font-bold">
            <span class="md:hidden 2xl:inline">Review required</span>
          </span>
        </div>
        <div *ngIf="proposal.status === ProposalStatus.NEW && proposal.grant !== GrantStatus.UNDECIDED" class="align-middle my-auto opacity-100 md:min-w-[60px] ">
          <span class="block text-pink-elab font-bold">
            <span class="md:hidden 2xl:inline">This proposal has a NEW status but is already granted :(</span>
          </span>
        </div>


        <div class="flex flex-col px-3 lg:px-12 justify-center space-y-2">
          <button *ngIf="currentUser.type === 'superadmin' &&
          proposal.status === ProposalStatus.NEW
          && proposal.grant === GrantStatus.UNDECIDED"
                  class="elab-button elab-button-green h-9 text-sm" (click)="onClickApproveNow(proposal.id)">Accept NOW</button>
          <button *ngIf="proposal.status === ProposalStatus.NEW && proposal.grant === GrantStatus.UNDECIDED"
                  class="elab-button elab-button-green w-full h-9 " (click)="onClickApprove(proposal.id)">Accept</button>
          <button *ngIf="proposal.status === ProposalStatus.NEW && proposal.grant === GrantStatus.UNDECIDED"
                  class="elab-button elab-button-red w-full h-9" (click)="onClickReject(proposal.id)">Reject</button>



          <div *ngIf="(proposal.status !== ProposalStatus.NEW && proposal.votingStatus === VotingStatus.NOT_STARTED)
          || (proposal.status !== ProposalStatus.NEW && currentUser.type === 'superadmin')"
               class="hidden md:flex md:flex-col md:ml-auto md:mr-0 lg:mr-5">
            <span *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.NOT_STARTED"
                  class="align-middle my-auto block font-bold text-pink-450 mb-3" >
              Vote starting on {{ proposal.votingPeriodStartDate | date:'MMM d' }}
            </span>
            <button (click)="onClickCancelDecision(proposal.id)"
                    class="elab-button elab-button-beige w-full h-9 hover:scale-100" >
              Cancel decision
            </button>
          </div>

        </div>
      </div>

      <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === 'ended'"
           class="hidden md:flex md:flex-col md:ml-auto
           md:mr-5 min-h-max justify-between">
        <div></div>

        <div>
          <span class="block font-bold text-pink-450">Vote Result: ended on {{ proposal.votingPeriodEndDate | date:'MMM d' }} </span>
          <div class="mt-2 -ml-[5px]">
            <span class="block text-green-elab">{{ proposal.votesFor }} Votes up</span>
            <span class="block text-red-elab">{{ proposal.votesAgainst }} Votes down</span>
          </div>
        </div>


        <div class="flex flex-row space-x-3 justify-around content-between" *ngIf="proposal.votingStatus === VotingStatus.ENDED">
          <button (click)="onClickCancelGrant(proposal.id)"
                  *ngIf="proposal.grant !== GrantStatus.UNDECIDED"
                  class="elab-button elab-button-beige h-9 w-full">Cancel grant</button>

          <button (click)="onClickGrant(proposal.id)"
                  *ngIf="proposal.grant === GrantStatus.UNDECIDED"
                  class="elab-button elab-button-green h-9 w-full">Grant</button>
          <button (click)="onClickDontGrant(proposal.id)"
                  *ngIf="proposal.grant === GrantStatus.UNDECIDED"
                  class="elab-button elab-button-red h-9 w-full">Don't grant</button>
        </div>
      </div>


      <!-- END VOTING DESKTOP -->
    </div>

  </div>

  <div *ngIf="!isLoading && totalProposals" class="flex flex-row text-gray-400 py-5 lg:py-10 lg:pl-24 text-sm md:text-base">
    <div *ngIf="totalProposals">
      Active <span class="hidden xl:inline">proposals</span>: {{totalActiveProposals}} / {{ totalProposals }}
    </div>
    <div class="ml-auto inline-flex">
      Row<span class="inline xl:hidden">s</span><span class="hidden xl:inline">&nbsp;per page</span>: 10
    </div>
    <div class="ml-auto md:ml-24 md:w-32">
      <p *ngIf="pageSize && pageNum && totalProposals">
        {{ pageSize * (pageNum - 1) + 1 }} - {{pageSize * pageNum}} OF {{ totalProposals }}
      </p>
    </div>
    <div class="md:ml-16 inline-flex">
      <button type="button" [ngClass]="{'cursor-not-allowed': !canDoPreviousPage()}" [attr.disabled]="!canDoPreviousPage() ? 'disabled' : null" (click)="goToPreviousPage()">
        <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'opacity-50': !canDoPreviousPage()}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <button type="button" [ngClass]="{'cursor-not-allowed': !canDoNextPage()}" [attr.disabled]="!canDoNextPage() ? 'disabled' : null" (click)="goToNextPage()">
        <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'opacity-50': !canDoNextPage()}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"  />
        </svg>
      </button>
    </div>
  </div>
</div>


<ng-template #status let-proposal="proposal">
  <span class="opacity-50 text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_APPROVED">
    AWAITING APPROVAL
  </span>

  <span class="text-grey text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_STARTED">
    NOT STARTED
  </span>

  <span class="font-bold text-red text-[12px]" *ngIf="proposal.status === ProposalStatus.REJECTED">
    REJECTED
  </span>

  <span class="text-green-500 text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && !proposal.votedByUser">
    VOTE ACTIVE
  </span>

  <span [ngClass]="{'text-green-500': proposal.userVote === 'for', 'text-red-500': proposal.userVote === 'against'}"
        *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && proposal.votedByUser"
        class="font-bold  text-[12px]">
    ALREADY VOTED {{ proposal.userVote.toUpperCase() }}
  </span>

  <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" class="text-green-500 font-bold text-[12px]" >
    VOTE ENDED
  </span>

  <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.GRANTED" class="text-green-500 font-bold md:inline-block uppercase text-[12px]">
    GRANTED
  </span>

  <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.NOT_GRANTED" class="text-red-500 font-bold md:inline-block uppercase text-[12px]">
    NOT GRANTED
  </span>
</ng-template>
