<div class="md:pt-24 flex flex-col lg:flex-row">
  <div class="inline-flex md:flex-row title-with-svg w-1/2">
    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.01516 0H0V2.80252H6.01516V0Z" fill="url(#paint0_linear_4829_59)"/>
      <path d="M5.26333 2.80249H0.820312V24.8125C0.820312 26.0429 1.84562 26.9999 3.00764 26.9999C4.23802 26.9999 5.19498 25.9745 5.19498 24.8125L5.26333 2.80249Z" fill="url(#paint1_linear_4829_59)"/>
      <path d="M14.7126 2.80249H10.2695V24.8125C10.2695 26.0429 11.2948 26.9999 12.4569 26.9999C13.6872 26.9999 14.6442 25.9745 14.6442 24.8125L14.7126 2.80249Z" fill="url(#paint2_linear_4829_59)"/>
      <path d="M24.2292 2.80249H19.7861V24.8125C19.7861 26.0429 20.8114 26.9999 21.9735 26.9999C23.2038 26.9999 24.1608 25.9745 24.1608 24.8125L24.2292 2.80249Z" fill="url(#paint3_linear_4829_59)"/>
      <path d="M15.5323 0H9.51709V2.80252H15.5323V0Z" fill="url(#paint4_linear_4829_59)"/>
      <path d="M24.982 0H18.9668V2.80252H24.982V0Z" fill="url(#paint5_linear_4829_59)"/>
      <defs>
        <linearGradient id="paint0_linear_4829_59" x1="3.00758" y1="0" x2="3.00758" y2="2.80252" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint1_linear_4829_59" x1="3.04182" y1="2.80249" x2="3.04182" y2="26.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint2_linear_4829_59" x1="12.491" y1="2.80249" x2="12.491" y2="26.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint3_linear_4829_59" x1="22.0076" y1="2.80249" x2="22.0076" y2="26.9999" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint4_linear_4829_59" x1="12.5247" y1="0" x2="12.5247" y2="2.80252" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
        <linearGradient id="paint5_linear_4829_59" x1="21.9744" y1="0" x2="21.9744" y2="2.80252" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9838"/>
          <stop offset="1" stop-color="#FF66DD"/>
        </linearGradient>
      </defs>
    </svg>

    <h1> My Proposals </h1>
  </div>
  <div *ngIf="currentUser && currentUser.isActive"
       class="
       mx-auto pr-0
       sm:mb-0
       md:mt-5 md:ml-auto
       lg:mt-0 lg:pr-10 lg:ml-auto lg:mr-0 mb-10
       ">
    <button
      class="h-9 elab-button" type="button" (click)="openNewProposalModal()"
      [attr.disabled]="inNewProposalModal ? 'disabled' : null"
      [ngClass]="{'elab-button-loading': inNewProposalModal,  'elab-button-green px-10': !inNewProposalModal}">
      <span *ngIf="!inNewProposalModal">
        + New Proposal
      </span>
      <svg *ngIf="inNewProposalModal === true" class="animate-spin mx-auto h-5 text-green-elabLight"
           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-95" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </button>
  </div>
</div>

<div class="flex-row md:flex-col" *ngIf="currentUser && currentUser.isActive && pageSize && pageNum" >
  <div *ngIf="currentUser && isLoading && currentUser.isActive" class="flex items-center align-middle justify-center mt-5 min-h-[350px]">
    <div class="elab-spin-loader"></div>
  </div>

  <div *ngIf="!isLoading && (!totalProposals || totalProposals === 0) && currentUser.isActive" class="flex items-center align-middle justify-center mt-5">
    <h2 class="text-pink-300">No proposals yet</h2>
  </div>

    <div *ngFor="let proposal of proposals; let first = first; let last = last; let indexOfElement = index">
      <div [ngClass]="{
    'opacity-70': proposal.grant.toLowerCase() === 'notgranted' || proposal.status === ProposalStatus.REJECTED,
    'opacity-100': proposal.grant.toLowerCase()  !== 'granted' || (proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_APPROVED)}"
           class="flex flex-row h-auto
           opacity-90
         md:flex-row md:h-96 lg:h-72 xl:h-52
         md:rounded-xl md:bg-blue-800 md:bg-gradient-to-r from-blue-800 to-blue-900 md:mt-10 mt-6
         overflow-hidden
         md:p-3">

        <div class="my-auto pr-4 md:my-0 md:pr-2 lg:pr-6 lg:pl-4 pt-0.5">#{{ pageSize * (pageNum - 1) + (indexOfElement + 1) }}</div>

        <!-- FIRST COLUMN -->
        <div class="flex flex-col w-full p-3 rounded-xl bg-gradient-to-br from-blue-800 to-blue-900
      md:rounded-none md:p-0 md:pr-1 md:bg-none md:w-1/2">
          <!-- First column - Title - Status - Description -->
          <div class="flex flex-row">
            <div class="text-pink-elab font-bold md:hidden">Title</div>

            <div class="text-green-elabLight self-end md:hidden ml-auto text-sm pl-2 text-right"
                 *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" >
              AWAITING ADMIN GRANT DECISION
            </div>
          </div>

          <!-- Title -->
          <div class="flex flex-row break-words" style="word-break: break-word;">
            <div class="inline mr-2 text-sm font-normal md:font-bold md:text-xl">{{proposal.title}}</div>
            <ng-container [ngTemplateOutlet]="status" [ngTemplateOutletContext]="{ proposal: proposal }"></ng-container>
          </div>

          <!-- Description -->
          <div class="flex flex-col mt-4 md:mt-2">
            <div class="text-pink-elab font-bold md:hidden">Description</div>
            <div class="block text-sm md-text-base md:pr-2 break-words">{{proposal.description}}</div>
          </div>

          <!-- MOBILE - Link -->
          <div class="md:hidden mt-4 text-green-elab break-all">
            <div class="text-pink-elab font-bold md:hidden">Link</div>
            <a [href]="proposal.link" target="_blank" class="text-sm text-pink-elab">{{ proposal.link }}</a>
          </div>

          <!-- MOBILE - Created / Result -->
          <div class="md:hidden grid grid-cols-3 min-w-full justify-items-stretch mt-4">
            <div class="justify-self-start self-start">
              <div class="font-bold text-pink-elab">Created</div>
              <div class="text-sm">{{ proposal.createdAt | dateAgo }}</div>
            </div>
            <div class="justify-self-center self-center" >
              <div *ngIf="proposal.votingStatus === VotingStatus.ACTIVE || proposal.votingStatus === VotingStatus.ENDED">
                <div class="font-bold text-pink-elab text-center">Results</div>

                <div class="flex flex-row justify-between">
                  <div [ngClass]="{'text-green-elab': proposal.score > 0, 'text-white': proposal.score === 0, 'text-red-elab': proposal.score < 0 }" class="text-center block text-2xl mr-1">{{ proposal.score }}</div>
                  <div class="text-green-elab self-center">{{ proposal.votesFor }}</div>
                  <div class="text-red-elab  self-center">{{ proposal.votesAgainst }}</div>
                </div>
              </div>
            </div>
            <div class="justify-self-end self-end">
           <span class="mobile-status bg-beige-elab text-grey"
                 *ngIf="proposal.status !== ProposalStatus.REJECTED
                  && proposal.votingStatus === VotingStatus.NOT_APPROVED">
              Pending
            </span>

              <span class="mobile-status bg-green text-white" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_STARTED">
              Soon
            </span>

              <span class="mobile-status bg-red text-white" *ngIf="proposal.status === ProposalStatus.REJECTED">
              Rejected
            </span>

              <span class="mobile-status bg-green-elabLight text-green-elab" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && !proposal.votedByUser">
              Active
            </span>

              <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED"
                    class="mobile-status bg-green-elab text-green-elabLight" >
              Ended
            </span>

              <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.GRANTED"
                    class="mobile-status bg-transparent border-2 border-green-elab text-green-elabLight">
              Granted
            </span>

              <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.NOT_GRANTED"
                    class="mobile-status bg-transparent border-2 border-red-elab text-red-elabLight">
              Refused
            </span>
            </div>
          </div>

          <!-- MOBILE - VOTES -->
          <div *ngIf="proposal.status === ProposalStatus.APPROVED &&
        proposal.votingStatus !== VotingStatus.NOT_STARTED"
               class="flex flex-row mt-4 text-sm hidden">
          <span class="block text-green-elab"><span class="font-bold">{{ proposal.votesFor }}</span>
            Vote<span *ngIf="proposal.votesFor > 1">s</span> Up
          </span>
            <span class="block text-red-elab ml-auto"><span class="font-bold">{{ proposal.votesAgainst }}</span>
            Vote<span *ngIf="proposal.votesAgainst > 1">s</span> Down
          </span>
          </div>

          <!-- MOBILE - STATUS -->
          <div *ngIf="proposal.status === ProposalStatus.APPROVED
        && proposal.votingStatus === VotingStatus.NOT_STARTED"
               class="md:hidden flex mt-4 text-[14px]">
            <span class="align-middle my-auto block font-bold text-pink-450">Vote starting on {{ proposal.votingPeriodStartDate | date:'MMM d' }} </span>
          </div>

        </div>

        <!-- DESKTOP - Second column Link/Created at -->
        <div class="hidden md:flex flex-col w-1/5 pr-2">
          <div class="pt-4">
            <span class="text-pink-450 font-bold">Link</span>
            <span class="block break-all text-green-elabLight">
            <a href="{{ proposal.link }}" target="_blank" class="duration-300 hover:text-pink-elab">
              <span class="hidden 2xl:inline">
                {{ proposal.link }}
              </span>

              <span class="inline 2xl:hidden">
                Click here
              </span>
            </a>
          </span>
          </div>

          <div class="mt-auto">
            <span class="text-pink-450 justify-end mt-auto font-bold">Created on</span>
            <span class="block opacity-50">{{proposal.createdAt | dateAgo}}</span>
          </div>
        </div>

        <!-- DESKTOP - Voting status -->

        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.ACTIVE"
             class="hidden md:flex md:flex-row md:ml-auto mr-0 lg:mr-5 md:w-[320px] px-3 lg:px-0">
          <div class="align-middle my-auto opacity-100 ">
            <div class="block text-pink-elab font-bold text-center">
              <span class="md:hidden 2xl:inline">Vote</span> Result
              <span [ngClass]="{'text-green-elab': proposal.score > 0, 'text-white': proposal.score === 0, 'text-red-elab': proposal.score < 0 }" class="block text-2xl">{{ proposal.score }}</span>
            </div>
            <div class="justify-start mt-2">
              <span class="block text-green-elab"><span class="font-bold">{{ proposal.votesFor }}</span>
              <span class="md:hidden 2xl:inline">&nbsp;Votes</span> Up
              </span>
              <span class="block text-red-elab"><span class="font-bold">{{ proposal.votesAgainst }}</span>
              <span class="md:hidden 2xl:inline">&nbsp;Votes</span> Down
              </span>
            </div>
          </div>

        </div>

        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === VotingStatus.NOT_STARTED"
             class="hidden md:flex md:flex-row md:ml-auto md:mr-0 lg:mr-5 md:w-[320px]">
          <span class="align-middle my-auto block font-bold text-pink-450">Vote starting on {{ proposal.votingPeriodStartDate | date:'MMM d' }} </span>
        </div>

        <div *ngIf="proposal.status === ProposalStatus.APPROVED && proposal.votingStatus === 'ended'"
             class="hidden md:flex md:flex-col md:ml-auto
           md:mr-5 md:w-[320px] min-h-max justify-between">
          <div></div>
          <div>
            <span class="block font-bold text-pink-450">Vote Result: ended on {{ proposal.votingPeriodEndDate | date:'MMM d' }} </span>
            <span [ngClass]="{'text-green-elab': proposal.score > 0, 'text-white': proposal.score === 0, 'text-red-elab': proposal.score < 0 }" class="block text-2xl">{{ proposal.score }}</span>
            <div class="mt-2">
              <span class="block text-green-elab">{{ proposal.votesFor }} Votes up</span>
              <span class="block text-red-elab">{{ proposal.votesAgainst }} Votes down</span>
            </div>
          </div>

          <div class="text-green font-bold self-end"
               *ngIf="proposal.grant === GrantStatus.GRANTED" >
            GRANTED
          </div>
          <div class="text-red-elab font-bold self-end"
               *ngIf="proposal.grant === GrantStatus.NOT_GRANTED" >
            NOT GRANTED
          </div>
          <div class="text-green-elabLight self-end"
               *ngIf="proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" >
            AWAITING ADMIN GRANT DECISION
          </div>
        </div>
        <!-- END VOTING DESKTOP -->
      </div>

    </div>

    <div *ngIf="!isLoading && totalProposals" class="flex flex-row text-gray-400 py-5 lg:py-10 lg:pl-24 text-sm md:text-base">
      <div *ngIf="totalProposals">
        Active <span class="hidden xl:inline">proposals</span>: {{totalActiveProposals}} / {{ totalProposals }}
      </div>
      <div class="ml-auto inline-flex">
        Row<span class="inline xl:hidden">s</span><span class="hidden xl:inline">&nbsp;per page</span>: 10
      </div>
      <div class="ml-auto md:ml-24 md:w-32">
        <p *ngIf="pageSize && pageNum && totalProposals">
          {{ pageSize * (pageNum - 1) + 1 }} - {{pageSize * pageNum}} OF {{ totalProposals }}
        </p>
      </div>
      <div class="md:ml-16 inline-flex">
        <button type="button" [ngClass]="{'cursor-not-allowed': !canDoPreviousPage()}" [attr.disabled]="!canDoPreviousPage() ? 'disabled' : null" (click)="decrementCurrentPage()">
          <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'opacity-50': !canDoPreviousPage()}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <button type="button" [ngClass]="{'cursor-not-allowed': !canDoNextPage()}" [attr.disabled]="!canDoNextPage() ? 'disabled' : null" (click)="incrementCurrentPage()">
          <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'opacity-50': !canDoNextPage()}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"  />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="currentUser && !currentUser.isActive" class="flex flex-col items-center align-middle justify-center mt-5">
    <h3 class="text-pink-450 text-center">Your account is not active. You need to activate to create a proposal.</h3>
    <button *ngIf="!currentUser.isActive" class="elab-button elab-button-green h-9 px-10" type="button" (click)="openActivateAccountModal()">
      Activate
    </button>
  </div>

  <ng-template #status let-proposal="proposal">
    <div class="hidden md:inline">
    <span class="opacity-50 text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_APPROVED">
      AWAITING APPROVAL
    </span>

      <span class="text-grey text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.NOT_STARTED">
      NOT STARTED
    </span>

      <span class="font-bold text-red text-[12px]" *ngIf="proposal.status === ProposalStatus.REJECTED">
      REJECTED
    </span>

      <span class="text-green-500 text-[12px]" *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && !proposal.votedByUser">
      VOTE ACTIVE
    </span>

      <span [ngClass]="{'text-green-500': proposal.userVote === 'for', 'text-red-500': proposal.userVote === 'against'}"
            *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ACTIVE && proposal.votedByUser"
            class="font-bold  text-[12px]">
      ALREADY VOTED {{ proposal.userVote.toUpperCase() }}
    </span>

      <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.UNDECIDED" class="text-green-500 font-bold text-[12px]" >
      VOTE ENDED
    </span>

      <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.GRANTED" class="text-green-500 font-bold md:inline-block uppercase text-[12px]">
      GRANTED
    </span>

      <span *ngIf="proposal.status !== ProposalStatus.REJECTED && proposal.votingStatus === VotingStatus.ENDED && proposal.grant === GrantStatus.NOT_GRANTED" class="text-red-500 font-bold md:inline-block uppercase text-[12px]">
      NOT GRANTED
    </span>
    </div>
  </ng-template>
