<div class="md:pt-24 flex flex-col">
  <div class="title-with-svg w-full">
    <h1> Welcome to ELAB </h1>
  </div>

  <div>
    <h2>Vote</h2>
    <p>View and vote for existing proposals in "community proposals".</p>
    <p>
      (if not active) Notice: you profile is not active yet, so your actions are restricted.
      ELAB is a democratic voting system where each user has one vote.
      Identity verification (stored in DID credentials) is required to create proposals and to vote.
      For this, please visit kyc-me.io.
    </p>

    <h2>Propose</h2>
    <p>Create your own proposals.</p>
    <p>
    First, write a suggestion with all necessary details on cyber-republic.org.
    If you don't want to make this suggestion as a proposal voted by the 12 council members,
    you can create a proposal here and your project will be voted by the community,
    and possibility granted with funds.
    </p>

    <h2>Get rewarded</h2>
    Bind your wallet to your profile, and get a chance of token airdrop after each vote.
  </div>
</div>
