<div class="container">
  <img class="object-none md:object-scale-down" src="/assets/img/logo.png">
</div>
<div class="container flex ml-10 flex-col justify-center h-full w-max">
    <p class="w-max text-5xl header
  text-transparent bg-clip-text bg-gradient-to-r
  from-pink-450 to-orange-450">Welcome,</p>
    <p class="w-max text-5xl header
  text-transparent bg-clip-text bg-gradient-to-r
  from-pink-450 to-orange-450">CR Community app</p>
  <button
    class="inline-block h-12 my-5 px-6 py-3 font-semibold text-black
    bg-gradient-to-r from-pink-450 to-orange-450
    rounded-full hover:from-orange-450 hover:to-pink-450
    focus:ring-4 focus:ring-orange-450
    focus:outline-none"
    (click)="onClickSignIn()"
  >
    Sign in with your DID
  </button>

  <p class="w-max text-orange-450">How to sign in ?</p>

</div>
